<% user_class = message.user_id == current_user.id ? "me" : "friend" %>
<div id="message_<%= message.id %>" class="<%= user_class %>">
  <%= message.body %>
  <small><%= (message.sent_at || message.created_at).strftime("%m-%d %H:%M") %></small>
  <div class="status">
    <% case message.status %>
    <% when 'sent' %>
      <%= content_tag(:span, '✓', class: 'red') %>
    <% when 'delivered' %>
      <%= content_tag(:span, '✓✓', class: 'red') %>
    <% when 'read' %>
      <%= content_tag(:span, '✓✓✓', class: 'red') %>
    <% else %>
      Status unknown
    <% end %>
  </div>
</div>

