<div id="message_<%= message.id %>" class="message" data-user-id="<%= message.user_id %>" data-message-id="<%= message.id %>">
  <p><%= message.body %></p>
  <small><%= (message.sent_at || message.created_at).strftime("%m-%d %H:%M") %></small>
  <% if message.user_id == current_user.id %>
    <div class="status">
      <% case message.status %>
      <% when 'sent' %>
        <span class="red">✓</span>
      <% when 'delivered' %>
        <span class="red">✓✓</span>
      <% when 'read' %>
        <span class="red">✓✓✓</span>
      <% else %>
        <span class="red">?</span>
      <% end %>
    </div>
  <% end %>
</div>
