<div class="devise-big light_window">
  <h1 class="devise-aich-one">Resend confirmation instructions</h1>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field overwrite">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
    <div class="actions bowton">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>
  <div class="div-shared-links overpower">
    <%= render "devise/shared/links" %>
  </div>
</div>

