<div class="navigation-big-three navi slidie" data-controller="slide-in dark-mode">
  <h3 class="modes">Modes</h3>
  <p class="navigation-knopfe-three bowton darky"  data-mode="dark" data-action="click->dark-mode#dark">Dark</p>
  <p class="navigation-knopfe-three bowton lighty show" data-mode="light" data-action="click->dark-mode#dark">Light</p>
  <p class="navigation-knopfe-three bowton relaxy" data-mode="relax" data-action="click->dark-mode#dark">Relax</p>
  <div class="navigation-knopfen icons">
    <%= link_to root_path, class: "link-to lt-three" do %>
      <i class="fa-solid fa-house eye navigation-i-three"></i>
    <% end %>
    <i class="fa-regular fa-envelope-open eye navigation-i-three"></i>
    <i class="fa-solid fa-play eye navigation-i-three"></i>
    <%= link_to "https://github.com/armentamj", target: "_blank", class: "link-to lt-three" do %>
      <i class="fa-brands fa-github eye navigation-i-three"></i>
    <% end %>
    <%= link_to "http://linkedin.com/in/joel-armenta-821a80315", target: "_blank", class: "link-to lt-three" do %>
      <i class="fa-brands fa-linkedin icons eye navigation-i-three"></i>
    <% end %>
    <%= link_to "https://huntr.co/p/joel-armenta", target: "_blank", class: "link-to lt-three" do %>
      <i class="fa-solid fa-square-h eye navigation-i-three"></i>
    <% end %>
    <%= link_to "https://troopl.com/armentamj", target: "_blank", class: "link-to lt-three" do %>
      <i class="fa-solid fa-t eye navigation-i-three"></i>
    <% end %>
  </div>
</div>
