<div class="chat-show-big light_window" data-controller="chat" data-current-user-id="<%= current_user.id %>">
  <h1 class="showcase-h1 chat-show-h1">
    <%= @other_person.name %>
  </h1>
  <div class="messages-thread" data-chat-target="messagesThread">
    <%= turbo_stream_from "chat_#{@chat.id}_messages" %>
    <%= turbo_frame_tag "messages" do %>
      <% if @messages.any? %>
        <% @messages.each do |message| %>
          <%= render partial: "messages/message", locals: { message: message, current_user: current_user } %>
        <% end %>
      <% else %>
        <p class="no-messages">You have no messages from or for <%= @chat.friend.name %>.</p>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "messages/form", locals: { chat: @chat, message: @message } %>
</div>