<div class="chat-show-big light_window">
  <h1 class="showcase-h1 chat-show-h1">
    <%= @chat.friend.name if @chat.user == current_user %>
  </h1>
  <div class="messages-thread">
    <%= turbo_stream_from "chat_#{@chat.id}_messages" %>
    <%= turbo_frame_tag "messages" do %>
      <% if @messages.any? %>
        <% @messages.each do |message| %>
          <%= render partial: "messages/message", locals: { message: message, current_user: current_user } %>
        <% end %>
      <% else %>
        <p class="no-messages">You have no messages from or for <%= @chat.friend.name %>.</p>
      <% end %>
    <% end %>
  </div>
  <%= form_with(model: [@chat, @message], data: { turbo_stream: true }, class: "formie") do |form| %>
    <%= form.text_area :body, placeholder: "Type your message...", class: "formie-text-area" %>
    <%= form.submit "Send", class: "formie-send csb-light", data: { disable_with: false } %>
  <% end %>
</div>
<script>
  document.addEventListener("turbo:submit-end", () => {
    const messages = document.querySelector(".messages-thread");
    
    if (messages) {
      setTimeout(() => {
        messages.scrollTop = messages.scrollHeight;
      }, 50);
    }
    
    const input = document.querySelector(".formie-text-area");
    
    if (input) {
      input.value = "";
    }
  });

  document.addEventListener("turbo:load", () => {
    const messages = document.querySelector(".messages-thread");
    
    if (messages) {
      setTimeout(() => {
        messages.scrollTop = messages.scrollHeight;
      }, 50);
    }
  });
</script>
