<!DOCTYPE html>
<html>
  <head>
    <title>Joel A. Fullstack WebDev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://kit.fontawesome.com/1461ad3e95.js" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  </head>
  <body class="jack body-three titillium-web-regular" data-controller="slide-in dark-mode submit-on-enter">
    <div class="navbar">
      <%= render "shared/navbar" %>
    </div>
    <div class="yield-div">
      <%= yield %>
    </div>
    <div class="modebar">
      <%= render "shared/modebar" %>
    </div>
    <div class="sign-in-out">
      <%= render "shared/sign_in_out" %>
    </div>
    <%= javascript_importmap_tags %>
  </body>
</html>
